.footer-content {
  padding: $paddingContainer;
  background-color: #d6d6d7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 18vh;
  margin: 0 auto;
}

.footer-1 {
  margin: 30px 0 20px 0;
  text-align: center;
  .footer-link {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
}

.footer-2 {
  margin-bottom: 10px;
  text-align: center;
  .footer-link {
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
}

.footer-image {
  margin: 20px 0 20px 0px;
}
