.left-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  min-width: 9%;
}

//Primera Tarjeta
.LBcontIntro {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.LBcontHeadIntro {
  padding: 16px 16px 0 16px;
  min-width: 90%;
}

.LBintroTxt {
  @include LBfontP();
  line-height: 1.3;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  min-width: 100%;
}

#LBIntroLink,
.LBpub {
  @include LBfontP();
  color: #3b49df;
  line-height: 1.7;
  font-weight: 700;
  font-size: 1.4rem;
  min-width: 100%;
}

.LBcontBodyIntro {
  font-size: 18px;
  padding: 20px;
  line-height: 1.4;
  color: #57577b;
}

.LBcontBotonesIntro {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 0 16px;
}

#LBbtnAcount {
  background-color: #3b49df;
  color: white;
  @include LBbtnP();
  margin-bottom: 10px;
  padding: 10px;
}

#LBbtnAcount:hover {
  background-color: #2c38c0;
}

#LBbtnLogIn {
  @include LBbtnP();
  padding: 10px;
  color: #3b49df;
  margin-bottom: 10px;
}

#LBbtnLogIn:hover {
  background-color: #f1efef;
}

.LBcontDevCom {
  min-width: 85%;
}

.LBcontOther {
  min-width: 85%;
}

.LBcont1,
.LBOcont0 {
  @include LBtitleF();
  padding-top: 15px;
  padding-bottom: 10px;
}

.LBcont2,
.LBcont3,
.LBcont4,
.LBcont5,
.LBcont6,
.LBcont7,
.LBcont8,
.LBcont9,
.LBcont10,
.LBcont11,
.LBcont12,
.LBOcont1,
.LBOcont2,
.LBOcont3 {
  padding: 10px;
  min-width: 100%;
  @include LBflexRows();
}

#LBicon10 {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.LBcont2:hover,
.LBcont3:hover,
.LBcont4:hover,
.LBcont5:hover,
.LBcont6:hover,
.LBcont7:hover,
.LBcont8:hover,
.LBcont9:hover,
.LBcont10:hover,
.LBcont11:hover,
.LBcont12:hover,
.LBOcont1:hover,
.LBOcont2:hover,
.LBOcont3:hover {
  background-color: #e3e3e3;
  cursor: pointer;
  border-radius: 5px;
}

//Cuarta Tarjeta
.LBcontRedS {
  @include LBflexRows();
  padding: 40px 0 40px 10px;
  min-width: 100%;
  height: auto;
  justify-content: flex-start;
  fill: #7c7a7a;
}

.crayons-icon {
  margin: 0 15px 0 0px;
}

#LBiconRS1:hover,
#LBiconRS2:hover,
#LBiconRS3:hover,
#LBiconRS4:hover,
#LBiconRS5:hover {
  fill: #504f4f;
  cursor: pointer;
}

//Quinta Tarjeta
.LBcontTags {
  @include LBflexColumns();
  justify-content: flex-start;
  min-width: 100%;
}

.LBheadTags {
  font-size: 16px;
  min-width: 100%;
  padding-bottom: 10px;
}

.LBtags {
  @include LBflexColumns();
  justify-content: flex-start;
  width: 240px;
  height: 360px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 0px;
}
.LBTagCont1,
.LBTagCont2,
.LBTagCont3,
.LBTagCont4,
.LBTagCont5,
.LBTagCont6,
.LBTagCont7,
.LBTagCont8,
.LBTagCont9,
.LBTagCont10,
.LBTagCont11,
.LBTagCont12,
.LBTagCont13,
.LBTagCont14,
.LBTagCont15,
.LBTagCont16,
.LBTagCont17,
.LBTagCont18,
.LBTagCont19,
.LBTagCont20,
.LBTagCont21,
.LBTagCont22,
.LBTagCont23,
.LBTagCont24,
.LBTagCont25,
.LBTagCont26,
.LBTagCont27,
.LBTagCont28,
.LBTagCont29,
.LBTagCont30 {
  @include LBflexRows();
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px;
  // overflow: hidden;
}

.LBTagBtn1,
.LBTagBtn2,
.LBTagBtn3,
.LBTagBtn4,
.LBTagBtn5,
.LBTagBtn6,
.LBTagBtn7,
.LBTagBtn8,
.LBTagBtn9,
.LBTagBtn10,
.LBTagBtn11,
.LBTagBtn12,
.LBTagBtn13,
.LBTagBtn14,
.LBTagBtn15,
.LBTagBtn16,
.LBTagBtn17,
.LBTagBtn18,
.LBTagBtn19,
.LBTagBtn20,
.LBTagBtn21,
.LBTagBtn22,
.LBTagBtn23,
.LBTagBtn24,
.LBTagBtn25,
.LBTagBtn26,
.LBTagBtn27,
.LBTagBtn28,
.LBTagBtn29,
.LBTagBtn30 {
  background-color: #efefef;
  color: #efefef;
  border-radius: 5px;
}

.LBTagCont1:hover,
.LBTagCont2:hover,
.LBTagCont3:hover,
.LBTagCont4:hover,
.LBTagCont5:hover,
.LBTagCont6:hover,
.LBTagCont7:hover,
.LBTagCont8:hover,
.LBTagCont9:hover,
.LBTagCont10:hover,
.LBTagCont11:hover,
.LBTagCont12:hover,
.LBTagCont13:hover,
.LBTagCont14:hover,
.LBTagCont15:hover,
.LBTagCont16:hover,
.LBTagCont17:hover,
.LBTagCont18:hover,
.LBTagCont19:hover,
.LBTagCont20:hover,
.LBTagCont21:hover,
.LBTagCont22:hover,
.LBTagCont23:hover,
.LBTagCont24:hover,
.LBTagCont25:hover,
.LBTagCont26:hover,
.LBTagCont27:hover,
.LBTagCont28:hover,
.LBTagCont29:hover,
.LBTagCont30:hover {
  .LBTagBtn1,
  .LBTagBtn2,
  .LBTagBtn3,
  .LBTagBtn4,
  .LBTagBtn5,
  .LBTagBtn6,
  .LBTagBtn7,
  .LBTagBtn8,
  .LBTagBtn9,
  .LBTagBtn10,
  .LBTagBtn11,
  .LBTagBtn12,
  .LBTagBtn13,
  .LBTagBtn14,
  .LBTagBtn15,
  .LBTagBtn16,
  .LBTagBtn17,
  .LBTagBtn18,
  .LBTagBtn19,
  .LBTagBtn20,
  .LBTagBtn21,
  .LBTagBtn22,
  .LBTagBtn23,
  .LBTagBtn24,
  .LBTagBtn25,
  .LBTagBtn26,
  .LBTagBtn27,
  .LBTagBtn28,
  .LBTagBtn29,
  .LBTagBtn30 {
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #3b49df;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    // overflow: hidden;
  }
}

.LBTagCont1:hover,
.LBTagCont2:hover,
.LBTagCont3:hover,
.LBTagCont4:hover,
.LBTagCont5:hover,
.LBTagCont6:hover,
.LBTagCont7:hover,
.LBTagCont8:hover,
.LBTagCont9:hover,
.LBTagCont10:hover,
.LBTagCont11:hover,
.LBTagCont12:hover,
.LBTagCont13:hover,
.LBTagCont14:hover,
.LBTagCont15:hover,
.LBTagCont16:hover,
.LBTagCont17:hover,
.LBTagCont18:hover,
.LBTagCont19:hover,
.LBTagCont20:hover,
.LBTagCont21:hover,
.LBTagCont22:hover,
.LBTagCont23:hover,
.LBTagCont24:hover,
.LBTagCont25:hover,
.LBTagCont26:hover,
.LBTagCont27:hover,
.LBTagCont28:hover,
.LBTagCont29:hover,
.LBTagCont30:hover {
  background-color: #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
  color: #3b49df;
}

.LBcontPub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  height: auto;
  max-width: 90%;
  .LBPub {
    text-align: center;
    font-size: 1rem;
  }
}

.LBim1 {
  height: auto;
  max-width: 90%;
}

.LBcontPub:hover {
  cursor: pointer;
}
