* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$paddingContainer: 0 16px;

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: $paddingContainer;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
}

main {
  background-color: #efefef;
}

.sidebar-left {
  background-color: transparent;
  flex: 1;
  @include flexColumns();
}

.articles {
  background-color: transparent;
  flex: 2;
  margin: 0 20px;
  @include flexColumns();
}

.sidebar-right {
  background-color: transparent;
  flex: 1;
  @include flexColumns();
}
