@mixin flexColumns() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin LBflexColumns() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin LBflexRows() {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}

@mixin LBfontP() {
  // font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

@mixin LBbtnP() {
  // min-height: 40px;
  // min-width: 220px;
  padding: 10px 32px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

@mixin LBtitleF() {
  // font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

@mixin devMissionCardStyle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 3%;
  box-sizing: border-box;
  width: 100%;
  // border:$testBorder;
  background: white;
  border-radius: 5px;
  border: 0.1px solid #dbd6d6;
  margin-bottom: 12px;
  padding: 18px 0 18px 0;

}