* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flexColumns() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

$paddingContainer: 0 16px;

.container {
  padding: $paddingContainer;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Segoe UI", "Roboto", sans-serif;
  min-height: 100vh;
}

.main-header {
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom: 1px solid #bdbdbd;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .left-items {
    display: flex;
    align-items: center;
    position: relative;

    .logo {
      margin: 15px 10px 12px 0px;
    }

    .search-form {
      position: relative;
      border-radius: 5px;
      background-color: #f9f9f9;
      border: 1px solid #bdbdbd;
      box-shadow: none;
      padding: 7px 8px;
      margin: 12px 0px;
      height: 40px;
      width: 420px;
      transition-duration: 0.1s;
    }

    .input-button {
      position: absolute;
      top: 15px;
      right: 12px;
      padding: 8px 8px;
      height: 40px;
      width: 32px;
      background-color: transparent;
      border: none;
    }
  }

  .right-items {
    .links-nav {
      list-style: none;

      li {
        display: inline-block;

        .login-button {
          text-decoration: none;
          color: #323ec3;
          background-color: #ffffff;
          border-radius: 5px;
          border-width: 0px;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          padding: 8px 16px;
          transition-duration: 0.3s;
        }
        .create-button {
          text-decoration: none;
          background-color: #3b49df;
          color: #ffffff;
          border-radius: 5px;
          border-width: 0px;
          font-size: 16px;
          font-weight: 700;
          text-align: center;
          margin-left: 10px;
          padding: 8px 16px;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

.right-items .links-nav li .login-button:hover {
  background-color: #f6f6f6;
}

.right-items .links-nav li .create-button:hover {
  background-color: #323ebe;
}

.main-header .navbar .left-items .search-form:focus {
  background-color: #ffffff;
  border: 2px solid #4150f5;
  border-radius: none;
  outline: none;
}

main {
  background-color: #efefef;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 16px;
}

.articles {
  // max-width: 600px;
  // width: 600px;
  min-height: 350px;
  background-color: blueviolet;
  flex: 2;
  margin: 0 20px;
  @include flexColumns();
}

.sidebar-right {
  // width: 400px;
  // max-width: 400px;
  min-height: 800px;
  background-color: blue;
  flex: 1;
  @include flexColumns();
}


//Aurora
@mixin flexRows() {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;

}

@mixin fontP() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17.5px;
  text-decoration: none;
}

@mixin btnP() {
  min-height: 40px;
  min-width: 220px;
  padding-left: 40px;
  padding-top: 6px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

@mixin titleF() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.sidebar-left {
  // max-width: 300px;
  // height: 800px;
  //border:solid 1px brown;
  flex: 1;
  min-height: 700px;
  @include flexColumns();
}

.left-card{
 padding-left: 90px;
 border-radius: 10px;
 //border:solid 1px blue;
}

//Primera Tarjeta
.contIntro{
  background-color: white;
  //border:solid 1px red;
  padding-top: 1px;
  min-height: 208px;
  border-radius: 10px;
}

.contHeadIntro{
  min-width: 79.2px;
  margin: 20px;
  //border:solid 1px pink;
}

#IntroLink{
  color: #3B49DF;
  @include fontP();
}

p1{
  @include fontP();
  color: black;
}

.contBodyIntro{
  margin: 20px;
  color: #57577B;
}

.contBotonesIntro{
  //border:solid 1px pink;
  min-height: 110px;
  min-width: 88px;
  @include flexColumns();
  justify-content: space-evenly;
  border-radius: 10px;
}

#btnAcount{
  background-color: #3B49DF;
  color:white;
  @include btnP();
}

#btnLogIn{
  //border: black 1px solid;
  @include btnP();
  padding-left: 90px;
  color:#3B49DF;
  font-weight: 30px;
}


//Segunda Tarjeta
.contDevCom{
  //border:solid 1px pink;
  padding: 10px;
  padding-left: 0px;
}

.cont1{
 @include titleF();
 padding-top: 15px;
 padding-bottom: 10px;
}

.cont2, .cont3, .cont4, .cont5, .cont6, .cont7, .cont8, .cont9, .cont10, .cont11, .cont12{
  padding: 10px 20px;
  //border: #323ebe solid 1px;
  @include flexRows();
}

#icon1,#icon2,#icon3,#icon4,#icon5,#icon6,#icon7,#icon8,#icon9,#icon11{
  margin-right: 10px;
}

#icon10{
  height: 24px;
  width: 24px;
}

