* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    color: black;
    background-color: #D6D6D7;
    width: 100%;
    height: 230px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    a {
        text-decoration: none;
        font-weight: 700;
        color: black;
        font-size: 14px;
    }
    p {
        font-size: 14px;
        color: #595959;
    }
}

img {
    height: 35px;
    background-color: #D6D6D7;
    color: #1ab3a6;
}