* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flexColumns() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

$paddingContainer: 0 16px;

.container {
  padding: $paddingContainer;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.main-header {
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom: 1px solid #bdbdbd;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .left-items {
    display: flex;
    align-items: center;
    position: relative;

    .logo {
      margin: 15px 10px 12px 0px;
    }

    .search-form {
      position: relative;
      border-radius: 5px;
      background-color: #f9f9f9;
      border: 1px solid #bdbdbd;
      box-shadow: none;
      padding: 7px 8px;
      margin: 12px 0px;
      height: 40px;
      width: 420px;
      transition-duration: 0.1s;
    }

    .input-button {
      position: absolute;
      top: 15px;
      right: 12px;
      padding: 8px 8px;
      height: 40px;
      width: 32px;
      background-color: transparent;
      border: none;
    }
  }

  .right-items {
    .links-nav {
      list-style: none;

      li {
        display: inline-block;

        .login-button {
          text-decoration: none;
          color: #323ec3;
          background-color: #ffffff;
          border-radius: 5px;
          border-width: 0px;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          padding: 8px 16px;
          transition-duration: 0.3s;
        }
        .create-button {
          text-decoration: none;
          background-color: #3b49df;
          color: #ffffff;
          border-radius: 5px;
          border-width: 0px;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
          margin-left: 10px;
          padding: 8px 16px;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

.right-items .links-nav li .login-button:hover {
  background-color: #f6f6f6;
}

.right-items .links-nav li .create-button:hover {
  background-color: #323ebe;
}

.main-header .navbar .left-items .search-form:focus {
  background-color: #ffffff;
  border: 2px solid #4150f5;
  border-radius: none;
  outline: none;
}

main {
  background-color: #efefef;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 16px;
}

.sidebar-left {
  // max-width: 300px;
  // height: 800px;
  background-color: brown;
  flex: 1;
  min-height: 700px;
  @include flexColumns();
}

.articles {
  // max-width: 600px;
  // width: 600px;
  min-height: 350px;
  background-color: blueviolet;
  flex: 2;
  margin: 0 20px;
  @include flexColumns();
}

.sidebar-right {
  // width: 400px;
  // max-width: 400px;
  min-height: 800px;
  background-color: blue;
  flex: 1;
  @include flexColumns();
}

.sidebar-left .left-card div {
  padding: 20px;
}

.footer-content {
  padding: $paddingContainer;
  background-color: #d6d6d7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 18vh;
  margin: 0 auto;
}

.footer-1 {
  margin: 30px 0 20px 0;
  text-align: center;
  .footer-link {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
}

.footer-2 {
  margin-bottom: 10px;
  text-align: center;
  .footer-link {
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
}

.footer-image {
  margin: 20px 0 20px 0px;
}

.right-card-1 {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  .right-card-header {
    margin-bottom: 20px;
  }
  .right-card-text {
    p {
      font-size: 18px;
      font-weight: 100;
    }
  }
  .right-card-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #3b49e1;
  }

  .right-card-footer {
    margin-top: 10px;
    .right-card-footer-link {
      text-decoration: none;
      font-size: 18px;
      color: #3b49e1;
    }
  }
}
